<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="home" routerLinkActive="active">Home</a>
        </li>    
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="login" routerLinkActive="active">Login</a>
        </li>    
      </ul>
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="register" routerLinkActive="active">Register</a>
        </li>    
      </ul>
      <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
